﻿@model Prueba.Models.PPI_TBL_PLAN_PRUEBAS

@{
    ViewBag.Title = "Delete";
}


<h3>Esta seguro que quiere eliminar este plan?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Lider PDS Proyecto")
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPI_TBL_LIDER_PDS_PROYECTO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayName("Lider PDS Responsable")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPI_TBL_LIDER_PDS_RESPONSABLE.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODIGO_PROYECTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO_PROYECTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_CREACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_EVALUACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_EVALUACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATOS_PRUEBA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATOS_PRUEBA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONCLUSIONES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONCLUSIONES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREADO_POR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREADO_POR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
