﻿@model Prueba.Models.PPI_TBL_PLAN_PRUEBAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PPI_TBL_PLAN_PRUEBAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PPI_TBL_LIDER_PDS_PROYECTO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPI_TBL_LIDER_PDS_PROYECTO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PPI_TBL_LIDER_PDS_RESPONSABLE.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPI_TBL_LIDER_PDS_RESPONSABLE.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODIGO_PROYECTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO_PROYECTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_CREACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_EVALUACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_EVALUACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATOS_PRUEBA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATOS_PRUEBA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONCLUSIONES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONCLUSIONES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREADO_POR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREADO_POR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PRUEBAS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
