﻿@model IEnumerable<Prueba.Models.PPI_TBL_PLAN_PRUEBAS>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de planes</h2>

<p>
    @Html.ActionLink("Crear nuevo plan", "Create")
</p>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Lider PDS Proyecto")
            </th>
            <th>
                @Html.DisplayName("Lider PDS Responsable")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CODIGO_PROYECTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FECHA_CREACION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FECHA_EVALUACION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATOS_PRUEBA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONCLUSIONES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MODULO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CREADO_POR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESTADO)
            </th>
            <th width="15%">Acciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PPI_TBL_LIDER_PDS_PROYECTO.NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PPI_TBL_LIDER_PDS_RESPONSABLE.NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CODIGO_PROYECTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_CREACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_EVALUACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_MODIFICACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPCION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATOS_PRUEBA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CONCLUSIONES)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MODULO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CREADO_POR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ESTADO)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Planes", new { id = item.ID_PRUEBAS })">
                        <img src="~/Img/pencil.svg" />
                    </a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="@Url.Action("Delete", "Planes", new { id = item.ID_PRUEBAS })">
                        <img src="~/Img/trash.svg" />
                    </a>
                </td>
            </tr>
        }

    </table>
</div>