﻿@{
    ViewBag.Title = "Contacto";
}

<div class="jumbotron">
    <h3>Test - Fabián Machuca</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Contacto</h4>
        <p><strong>Correo: </strong> Fabianmachuca92@gmail.com</p>
        <p><strong>Telf: </strong> 0989548582</p>
    </div>
</div>